<!-- /**********************************************************
* Project: R.Lloyd Gonzales Portfolio Website
* URL: RLGonzales.com
* Contact: rolandolloyd@gmail.com
* Copyright © 2019 GonzalesDesign
* Platform: Angular 6
* Component: Gonzales Design Portfolio Component View Template
* Note: Portfolio intro
*       Revised small screen display. R:19.03.25
***********************************************************/ -->

<div *ngIf="false;"
  class="centerLine">
</div>

<!-- Loader component -->
<app-loader-svg></app-loader-svg>

<!-- test scroll hide and show top bar -->
<!-- <mat-toolbar color="primaryX" class="title-bar-kontainer" id="titleBarId">
  <span class="modal-title">Application Title</span>
  <span class="subTitle">Sub Title Text</span>
</mat-toolbar> -->

<!-- INTRO MONDRIAN -->
<div id="rlg-main-kontainer-id"
    [style.border]="'0px solid magenta'">
<!-- <div  *ngIf="showMainKontainer" id="rlg-main-kontainer-id"> -->

        <!-- photo containers layout wrapper -->
        <div id="rlg-kontent-kontainer-id"
            [style.border]="'5px solid orange'">

            <!-- Title and sub-title -->
            <div id="title-kontainer-id">
              <h1 class="title">R.LLOYD GONZALES</h1>
              <div id="sub-title-id" class="sub-title rlg-primary-color">UI DESIGNER • ANGULAR DEVELOPER</div>
            </div>

            <!--==== Observable error test ====-->
            <h3 class="snafu">
                {{errorMsg}}
            </h3>

            <!-- photo containers -->
            <div *ngFor="let allData of aAllData; let i = index"
              id="{{ allData.kontainerId }}"
              class="photo-kontainer">

              <!-- photos for the homepage -->
              <div id="{{ allData.imageId }}" class="foto"
                [style.backgroundImage]="'url('+ aAllData[i].imagePath + aAllData[i].coverImage +')'"
                [style.background-repeat]= "'no-repeat'"
                [style.backgroundSize]= "'cover'">
              </div>

              <!-- Show on small screen: another layout -->
              <!-- <div *ngIf="showPhotoInfo" class="photo-info-kontainer">
                <h2 class="rlg-photo-title ">{{ allData.title }}</h2>
                <h3 class="rlg-photo-subtitle">{{ allData.subTitle }}</h3>
                <div class="rlg-photo-body">
                    {{ allData.description }}
                    <br>
                </div>
              </div> -->

              <div class="rlg-button-kontainer">
              <!-- <div *ngIf="onShowModalButton()" class="rlg-button-kontainer"> -->
              <!-- <div *ngIf="showOpenModalBtn" class="rlg-button-kontainer"> -->
                <button mat-button class="rlg-button"
                        (click)="fOpenModal(
                                    allData.id,
                                    allData.imagePath,
                                    allData.images,
                                    allData.title,
                                    allData.subTitle,
                                    allData.description,
                                    allData.orientation,
                                    allData.variation,
                                    allData.links,
                                    allData.variedProjects
                                    )">
                                    <!-- allData.orientation, -->
                                    <!-- , "scrollToElement(targetTopPage)" -->
                  <mat-icon class="buttonIcon">
                    loupe
                  </mat-icon>
                  <span class="buttonLabel" id="button-label-id">
                    {{ allData.title }}
                  </span>
                </button>
              </div>

          </div>

        </div>
    </div>
