
/*=---=|    Import: General styling    |=---=*/
@import './../../../styles.scss';
@import './carousel.scss';

/*---| Classes |---*/

.pop-up-title-kontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 500;
  border: 0px solid red;

  .pop-up-title {
    @include fontFamilyWeightSize ($rlg-primary-font, 600, 1.3em);
    text-align: center;
    color: white;
    line-height: .8em;
    padding: 10px 40px 10px 40px;
    height: auto;
    background-color: rgba($rlgColorPrimaryMid, 1);
    text-shadow: $text-shadow;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: $text-shadow;
  }

  .subTitle {
    @include fontFamilyWeightSize ($rlg-primary-font, 400, .7em);
  }
}



.horizRuler {
  margin: -10px 0px 20px 0px;
  height: 4px;
  // width: 90vh;
  background-color: rgba($rlgColorPrimary, .4);
}

.modalKontainer {
  // background-color: cyan;
  border: 0px solid rgb(221, 0, 255);
}

.image-kontainer {
  display: flex;
  // flex-direction: column;
  // overflow: hidden;
  // width: 70px;
}

.multi-projects {
  display: flex;
  // display: none;
  // visibility: hidden;
}

.multi-proj-image {
  // [style.maxHeight.%]= '100'
  // [style.marginTop.px]= '40'
  // height: 100%;
  // border-radius: 20px 0px 0px 0px;
  // [style.border]="'0px solid grey'";
  // [style.backgroundPositionX.%]="50"
  // [style.backgroundPositionY.%]="10"
  height: -webkit-fill-available;
  max-height: 100%;
  margin-top: 2em;
  background-position-x: 50%;
  background-position-y: 10%;
}

.multi-proj-title {
  @include fontFamilyWeightSize ($rlg-primary-font, 400, 1.1em);
  margin-top: 2em;
  position: relative;
  color: rgba($rlgColorDark, .65);
  border: $greyBorderForTesting;
  line-height: 1;
}

.multi-proj-sub-title {
  @include fontFamilyWeightSize ($rlg-primary-font, 400, .8em);
  color: rgba($rlgColorDark, .5);
  margin: 4px 0px 0px 0px;
  line-height: 1;
}

.multi-proj-function {
  @include fontFamilyWeightSize ($rlg-primary-font, 400, .7em);
  color: rgba($rlgColorDark, .5);
  line-height: 1;
  margin-top: 1em;
}

.multi-proj-description {
  @include fontFamilyWeightSize ($rlg-paragraph-font, 300, .8em);
  color: rgba($rlgColorDark, .4);
  margin: 20px 40px 0px 0px;
  line-height: 1.4;
  font-style: italic;
}

.multi-proj-link {
  @include fontFamilyWeightSize ($rlg-primary-font, 400, .8em);
  width: fit-content;
  // height: 100%;
  color: white; //rgba($rlgColorSecondary, .75);
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  background-color: rgba($rlgColorTertiary, 1);
  text-shadow: $text-shadow;
  border-radius: 20px;
  box-shadow: $text-shadow;
}

.varLinkName-label {
  margin-left: 6px;
  // color: rgba($rlgColorSecondary, 1);
}

.varLinkName-icon {
  // margin-left: 6px;
  color: rgba($rlgColorTertiaryMid, 1);
  margin-top: -1px;
}

.linkName-label {
  margin-left: 6px;
  text-shadow: $text-shadow;
  // color: rgba($rlgColorSecondary, 1);
}

.linkName-icon {
  // margin-left: 6px;
  text-shadow: $text-shadow;
  color: rgba($rlgColorTertiaryMid, 1);
}

/*----= Content container =----*/
.content-container {
  border: $borderForTesting;
}

.inner {
  // padding-left: 40px;
  // padding-right: 20px;
  border: $borderForTesting;
}

.text-area {
  color: rgba($rlgColorDark, .5);
  border: $borderForTesting;
  top: 300px;
  background-color: aliceblue;
  padding: 40px 0px 0px 2px;
  border-radius: 0px 0px 40px 0px;
}

.about {
  @include fontFamilyWeightSize ($rlg-primary-font, 400, 1em);
  color: rgba($rlgColorDark, .5);
}

/*----= Images container area =----*/
// .carousel-kontainer {
//   // width: 700px;
//   display: flex;
//   overflow: hidden;
//   margin: 0px;
//   padding: 0px;
//   border: $borderForTesting;
// }

mat-fab {
  background-color: $rlgColorTertiary;
}

/*---| Buttons inside text-area |---*/
.mat-fab.mat-accent {
  background-color: $rlgColorTertiary;
}
.matFabMini.mat-fab.mat-accent {
  background-color: $rlgColorGreyLight;
  margin-bottom: 20px;
}

.matFabExtended {
  @include fontFamilyWeightSize ($rlg-primary-font, 600, .8em);
  // font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // font-size: 0.875rem;
  // line-height: 2.25rem;
  // font-weight: 500;
  letter-spacing: 0.08928571em;
  text-decoration: none;
  text-transform: uppercase;
  // padding: 0 20px;
  width: auto;
  max-width: 100%;
  // margin-top: 10px;
  height: 48px;
  border-radius: 24px;
  background-color: $rlgColorTertiary;
}
