<!-- <app-loader-svg></app-loader-svg> -->

<!-- <div class="test-kontainer"
  [style.backgroundColor]="'cyan'">TEST KONTAINER
</div> -->



<div class="modalKontainer" id="modalKontainerId">

  <!-- <mat-toolbar color="primaryX" class="title-bar-kontainer" id="titleBarId">
    <span class="modal-title">Application Title</span>
    <span class="subTitle">Sub Title Text</span>
  </mat-toolbar> -->

    <div class="modal-title-kontainer" id="modalTitleKontainerId">
        <div class="modal-title" id="modalTitleId"
        [style.fontSize]='modalTitleSize'>
            {{ titolo }}
            <br>
            <span class="subTitle">
                {{subTitle}}
            </span>
        </div>
    </div>

    <!-- <div class="rlg-pop-titleX"
        [style.width.px]= 'modalKontainerInteriorWidth'>
        <div class="horizRuler"></div>
    </div>
    <br> -->
    <!-- Content container area -->
    <div class="content-container"
            [style.display]="'flex'"
            [style.flexDirection]= 'flexDirection'>

        <!-- Images container area-->
        <ul class="carousel-kontainer"
            [style.width.px]= 'fotoWidth'>


            <li #imageKontainerX class="image-kontainer" id="imageKontainerId"
                [style.backgroundColor]="'rgba(0, 0, 0, 0)'">

                <!--**** Varied projects infos inside the carousel ***-->
                <div *ngIf="displayMultiProjects; else elseBlock" class="multi-projects"
                    [style.border]="'0px solid yellowGreen'"
                    [style.display]="'flex'">
                    <!-- [style.display]="'flex'" -->

                    <!-- <div class="multi-proj-wrapper"> -->
                      <div *ngFor="let varied of aVariedProj; let i = index">
                          <!-- [style.overflow]="'hidden'" -->
                          <div class="multi-proj-title">{{ varied.varProjectTitle }}</div>
                          <div class="multi-proj-sub-title">{{ varied.varProjectSubTitle }}</div>
                          <div class="multi-proj-function">Responsibilities: {{ varied.varProjectFunction }}</div>
                          <div class="multi-proj-description">{{ varied.varProjectDescription }}</div>
                          <div class="multi-proj-link" id={{varied.varId}}
                              [style.display]='aButtonDisplay[i]'
                              [style.border]="'0px solid red'"
                              [style.cursor]="'pointer'"
                              (mouseover)="changeBackgroundColor=false"
                              (mouseleave)="changeBackgroundColor=true"
                              [ngStyle]="{'background-color': changeBackgroundColor===false  ? '#fe4400' : '#92d11f' }"
                              (click)="fOpenXLinks(varied.varUrl)">
                              <!-- <div [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }"></<div> -->
                              <!-- <some-element [ngStyle]="{'font-style': styleExp}">...</some-element> -->
                              <mat-icon class="varLinkName-icon">link</mat-icon>
                              <span class="varLinkName-label">
                                  {{ varied.varLinkName }}
                              </span>
                          </div>

                          <div #imgKontainrRef class="multi-proj-image"
                              [style.backgroundImage]="'url(' + popImagePath + varied.image + ')'"
                              [style.background-repeat]="'no-repeat'"
                              [style.backgroundSize]='varied.varBGSize'
                              [style.width.px]= 'fotoWidth'
                              [style.height.px]='fotoHeight'
                              [style.backgroundColor]='varied.varBGColor'
                              [style.backgroundPositionX.%]="50"
                              [style.backgroundPositionY.%]="10"
                              [style.border]="'0px solid cyan'">
                          </div>

                      </div>
                    <!-- </div> -->

                </div>

                <!--**** Single project images inside the carousel ***-->
                <ng-template #elseBlock>
                    <div  #imgKontainrRef class="bg-imageX"
                            *ngFor="let foto of imageToLoad; let i = index"
                            [style.backgroundImage]="'url(' + popImagePath + foto.value + ')'"
                            [style.background-repeat]="'no-repeat'"
                            [style.backgroundSize]='foto.bgSize'
                            [style.width.px]= 'fotoWidth'
                            [style.height.px]='fotoHeight'
                            [style.marginTop.px]="'40'"
                            [style.backgroundColor]='foto.bgColor'
                            [style.backgroundPositionX.%]="50"
                            [style.backgroundPositionY.%]="50"
                            [style.border]="'0px solid grey'">
                    </div>
                </ng-template>

            </li>

            <!-- Carousel Arrows =================-->
            <div class="carouselArrows"
                [style.height.em]='arrowSize'
                [style.width.px]= 'carouselMaskWidth'>
                <!-- [style.top.px]= 'karouselArrowsTop' -->

                <!-- Left Arrow Container-->
                <div class="left-arrow-container"
                    [style.width.em]='arrowSize'
                    [style.height.em]='arrowSize'>
                    <!-- Arrow Icon-->
                    <mat-icon class="left-arrow"
                        [style.fontSize.em]='arrowSize'
                        (click)="fSlideRight()"
                        (mouseover)="hideBackgroundLeft=false"
                        (mouseleave)="hideBackgroundLeft=true">
                        keyboard_arrow_left
                    </mat-icon>
                    <!-- Arrow Background -->
                    <span class="left-arrow-background"
                        [style.width.em]='arrowSize'
                        [style.height.em]='arrowSize'
                        [ngStyle]="{'opacity': hideBackgroundLeft===false  ? '1' : '0' }">
                    </span>
                </div>
                <span class="arrows-spacer"></span>
                <!-- Right Arrow -->
                <div class="right-arrow-container"
                    [style.width.em]='arrowSize'
                    [style.height.em]='arrowSize'>
                    <!-- Arrow Icon-->
                    <mat-icon class="right-arrow"
                        [style.fontSize.em]='arrowSize'
                        (click)="fSlideLeft()"
                        (mouseover)="hideBackgroundRight=false"
                        (mouseleave)="hideBackgroundRight=true">
                        keyboard_arrow_right
                    </mat-icon>
                    <!-- Arrow Background -->
                    <span class="right-arrow-background"
                        [style.width.em]='arrowSize'
                        [style.height.em]='arrowSize'
                        [ngStyle]="{'opacity': hideBackgroundRight===false  ? '1' : '0' }">
                    </span>
                </div>
            </div>



        </ul>

        <!-- Text and buttons area -->
        <div class="text-area"
            [style.width.px]= 'carouselMaskWidth'
            [style.border]="'0px solid grey'">
            <div class="inner"
                [style.width.px]= 'carouselMaskWidth'
                [style.border]="'0px solid red'">
                <div class="about"
                    [style.paddingLeft.px]="'20'"
                    [style.paddingRight.px]="'20'"
                    [style.textTransform]="'uppercase'">
                    Project Description:
                </div>

                <p class="multiColumnDescription"
                    [style.columnCount]= 'descriptionColumnCount'
                    [style.columnGap.px]= "'40'"
                    [style.paddingLeft.px]="'20'"
                    [style.paddingRight.px]="'20'"
                    [style.border]="'0px solid grey'">
                    {{ popDescription }}
                </p>

                <div [style.paddingLeft.px]="'20'">
                    <button mat-fab extended class="matFabExtended"
                        (mouseover)="changeBGColor=false"
                        (mouseleave)="changeBGColor=true"
                        [ngStyle]="{'background-color': changeBGColor===false  ? '#fe4400' : '#92d11f' }"
                        (click)="fOpenXLinks(linx1.linkUrl)">
                        <div class="buttonLabel"
                            [style.display]="'flex'"
                            [style.margin]="'-3px 25px 0px 20px'"
                            [style.border]="'0px solid orange'">
                            <mat-icon class="linkName-icon"
                                [style.border]="'0px solid blue'"
                                [style.marginTop.px]="'-1'">
                                link
                            </mat-icon>
                            <span class="linkName-label"
                                [style.color]="'white'"
                                [style.marginTop.px]="'-1'"
                                [style.border]="'0px solid purple'">
                                {{ linx.linkName }}
                            </span>
                        </div>

                    </button>

                </div>

                <br>

                <div [style.paddingLeft.px]="'20'">
                    <button mat-fab mini class="matFabMini"
                        (mouseover)="changeCloseBGColor=false"
                        (mouseleave)="changeCloseBGColor=true"
                        [ngStyle]="{'background-color': changeCloseBGColor===false  ? '#fe4400' : '#b0b4b6' }"
                        (click)="fClose()">
                        <mat-icon class="closeIcon"
                            [style.color]="'white'">
                            close
                        </mat-icon>
                    </button>
                </div>

            </div>

        </div>

    </div>

</div>
